html, body {
	width: 100%;
}
body {
	font-family: 'Oxygen', sans-serif;
}
h1 {
	font-family: 'Vollkorn', serif;
	font-weight: bold;
	font-style: italic;
	font-size: 40px;
	text-shadow: 3px 4px 3px #C4C4C4;
}
footer {
	text-align: right;
}
nav li {
	text-decoration: none;
	display: inline;
	margin-right: 50px;
}	
#feature {
	background-color: #eaeaea;
	margin-right: -10px;
	margin-left: -10px;
	padding: 10px 50px 10px 50px;
	position: relative;
}